/* my global styles */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}
:root {
  --background-clr: #f4f7fd;
  --primary-clr: #000112;
  --secondary-clr: #fff;
  --third-clr: #828fa3;
  --accent-clr: #635fc7;
}
/* dark mode colors */
body.dark-mode {
  --background-clr: #20212C; /* Dark mode background */
  --primary-clr: #fff; /* Dark mode primary color */
  --secondary-clr: #2B2C37; /* Dark mode secondary color */
  --third-clr: #828fa3; /* Dark mode third color */
  --accent-clr: #635fc7; /* Dark mode accent color */
}
body {
  background-color: var(--background-clr);
  color: var(--primary-clr);
}


/* styles for the side bar */
.side-bar {
  display: none;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* the container for the modals */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 343px; 
  height: 600px;
  top: 45px;
}
.modal-content-header{
  display: flex;
  justify-content: space-between;
}
.modal-content-header h2{
  font-size: 18px;
  font-weight: 800;
  color: var(--primary-clr);
}
.close { /* button for closing the modals */
  position: absolute;
  top: 11px;
  right: 39px; 
  width: 3px;
  height: 18px;
  font-size: 28px;
  color: red;
  border: none;
  font-weight: bold;
  background-color: transparent; /* to change the backgorund of the button */
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* the container for the form */
.modal-content-form{
display: flex;
flex-direction: column;
gap: 24px;
margin-top: 18px;
}
.form-diveders{/* to separete the the fields in the form */
  display: flex;
  flex-direction: column;
}
.form-diveders label{
  font-size: 12px;
  font-weight: 700;
  color: var(--third-clr);
}

/* styles for the form input */
.input-field{
  height: 40px;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
}
.Description-field{
  height: 112px;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
}

/* styles for modal buttons */
.form-btn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.save-btn{
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: var(--accent-clr);
  color: var(--secondary-clr);
}
.save-btn:hover {
  transform: translateY(-5px);
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  box-shadow: 0 4px 12px rgba(15, 15, 15, 0.6);
}
.delete-btn{
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #ea5555;
  color: var(--secondary-clr);
}
.delete-btn:hover {
  transform: translateY(-5px);
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  box-shadow: 0 4px 12px rgba(15, 15, 15, 0.6);
}

/* Main Layout header section */
.main-header {
  position: relative;
  background-color: var(--secondary-clr);
  display: flex;
  align-items: center;
  gap: 16px;
  height: 64px;
  padding-left: 16px;
}
.main-header img {
  width: 24px;
  height: 25px;
}
.main-header h2 {
  font-size: 18px;
  font-weight: 700;
}
/* styles for the add task button on mobile */
.mobile-add-task {
  font-size: 24px;
  background-color: var(--accent-clr);
  color: var(--secondary-clr);
  position: absolute;
  left: 313px;
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 24px;
  text-align: center;
}
.mobile-add-task span{
  position: absolute;
  width: 2px;
  height: 13px;
  top: -5px;
  left: 8px;
  font-size: 28px;
}
.mobile-add-task:hover {
  transform: translateY(-5px);
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  box-shadow: 0 4px 12px rgba(15, 15, 15, 0.6);
}


/* hides the desktop add button on mobile */
.desktop-add-task {
  display: none; /* Show on larger screens */
}

/* cards container */
.cards-container {
  width: 90%;
  max-width: 1200px;
  margin: 32px auto;
}
.cards {
  margin-bottom: 30px;
}

/* the TODO, DOING and DONE heading styles */
.task-heading {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}
.task-heading span {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.task-heading h4 {
  color: var(--third-clr);
  font-size: 12px;
  font-weight: 700;
}

/* the color styles for the TODO, DOING and DONE heading styles */
.todo-clr {
  background-color: #49c4e5;
}
.doing-clr {
  background-color: #8471f2;
}
.done-clr {
  background-color: #67e2ae;
}

/* the cards styles */
.task-card {
  background-color: var(--secondary-clr);
  height: 60px;
  padding: 19px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.task-card:hover {
  transform: translateY(-5px);
  background-color: var(--accent-clr);
  color: var(--secondary-clr);
  box-shadow: 0 4px 12px rgba(15, 15, 15, 0.6);
}

/* Mobile Sidebar Modal Styles */
#mobileSidebarModal {
  display: none; /* Hidden by default */
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}
/* Updated styles for Mobile Sidebar Modal */
#mobileSidebarModal .modal-content {
  width: 340px;
  height: 200px;
  border-radius: 10px;
}
#mobileSidebarModal .modal-content-header h2 {
  font-size: 12px;
  font-weight: 700;
  color: var(--third-clr);
  margin-left: 27px;
  padding: 0px 12px 0px 10px;
}
.mobileSidebar-btn button {
  width: 250px;
  height: 48px;
  position: absolute;
  left: 1px;
  border-radius: 0 30px 30px 0;
  border: none;
  background-color: var(--accent-clr);
  font-size: 15px;
  font-weight: 700;
  color: var(--secondary-clr);
  margin-top: 19px;
}

/* Styling the toggle switch */
.theme-toggle-container { 
  position: absolute;
  bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 15px;
  background-color: var(--background-clr);
  width: 251px;
  height: 48px;
}
.theme-toggle-container input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 20px;
  background: var(--third-clr);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background 0.3s ease;
}
.theme-toggle-container input[type="checkbox"]:checked {
  background: var(--accent-clr);
}
.theme-toggle-container input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  background: var(--secondary-clr);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.theme-toggle-container input[type="checkbox"]:checked:before {
  transform: translateX(20px);
}

/* Add styles for priority circles */
.priority-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
/* styles to show the color of the priority */
.priority-circle.high {
  background-color: red;
}
.priority-circle.medium {
  background-color: orange;
}
.priority-circle.low {
  background-color: green;
}

/* Style for the button to show the hidden sidebar */
.show-sidebar {
  display: none;
  background-color: #a8a4ff;
  width: 56px;
  height: 48px;
  font-size: 24px;
  border: none;
  border-radius: 0 20px 20px 0;
  position: fixed;
  bottom: 70px;
}

/* error message styles */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* styles for the notification modal */
#notificationModal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Semi-transparent background */
}
#notificationModal .modal-content {
  background-color: var(--secondary-clr);
  margin: 20% auto; 
  display: flex;
  align-items: center;
  border-radius: 10px;
 justify-content: center;
  width: 300px; 
  height: 100px;
}
#notificationModal h2 {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-clr);
}

/* styles for the confirmation modal */
#confirmationModal {
  display: none;/* Hidden by default */
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);/* Semi-transparent background */
  z-index: 1000;
}
#confirmationModal .modal-content {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--secondary-clr);
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#confirmationModal h2 {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-clr);
  margin-bottom: 20px;
}
#confirmationModal .form-btn {
  display: flex;
  gap: 20px;
  width: 100%;
}
/* Ensure sidebar is hidden on smaller screens */
@media (max-width: 767px) {
  .side-bar {
    display: none!important;
  }
}

/* media querys */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  /* Shift the add task button when sidebar is hidden */
body.sidebar-hidden .desktop-add-task {
  transform: translateX(250px); /* Shift the button to the left */
}
  /* Remove grid layout when sidebar is hidden */
body.sidebar-hidden {
  display: block !important; /* Remove grid layout */
}
  /* Expand cards container to full width when sidebar is hidden */
body.sidebar-hidden .cards-container {
  width: 100% !important;
  padding: 0 16px;
}
  /* Expand main header to full width and adjust padding when sidebar is hidden */
body.sidebar-hidden .main-header {
  width: 100% !important;
  padding-left: 16px;
}
  /* Hide the sidebar when sidebar is hidden */
body.sidebar-hidden .side-bar {
  display: none !important;
}
  /* Remove left margin and expand width for cards and header when sidebar is hidden */
body.sidebar-hidden .cards-container,
body.sidebar-hidden .main-header {
  margin-left: 0 !important;
  width: 100% !important;
}

/* styles to hide to mobile add tasks button */
.mobile-add-task {
  display: none; /* Hide on larger screens */
}

/* styles on the tablet and desktop add tasks button */
.desktop-add-task {
  display: block; /* Show on larger screens */
  position: absolute;
  left: 400px;
  width: 100px;
  height: 28px;
  background-color: var(--accent-clr);
  border: none;
  border-radius: 24px;
}
.desktop-add-task:hover {
  transform: translateY(-5px);
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  box-shadow: 0 4px 12px rgba(15, 15, 15, 0.6);
}
.desktop-add-task span {
  color: var(--secondary-clr);
}

/* styles for modal content */
.modal-content {
  margin-left: 290px;
  width: 400px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* side bar styles */
.side-bar {
  display: block;
  background-color: var(--secondary-clr);
  width: 200px;
  height: 220%;
  border-right: 1px solid #e4ebfa;
}
.side-bar img {
  width: 150.53px;
  height: 40.22px;
  margin-top: 29px;
  margin-left: 27px;
}
.side-bar h2 {
  font-size: 12px;
  font-weight: 700;
  color: var(--third-clr);
  margin-top: 50px;
  margin-left: 27px;
  padding: 0px 12px 0px 60px;
}
.side-bar button {
  margin-top: 15px;
  width: 190px;
  height: 48px;
  border-radius: 0 30px 30px 0;
  border: none;
  background-color: var(--accent-clr);
  font-size: 15px;
  font-weight: 700;
  color: var(--secondary-clr);
}
.side-bar button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(15, 15, 15, 0.6);
  background-color: var(--primary-clr);
}

/* the header styles */
.main-header {
  height: 96px;
  border-bottom: 1px solid #e4ebfa;
}
.main-header img {
  display: none;
}

/* dark mode toggle styles */
.hide-sidebar{
position: absolute;
bottom: 16px;
left: 0px;
}
.theme-toggle-container{
  position: absolute;
  bottom: 80px;
  left: 18px;
}
.theme-toggle-container{
  width: 150px;
}
}

@media (min-width: 1024px) {
body {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

body.sidebar-hidden .desktop-add-task {
  transform: translateX(300px); /* Shift the button to the left */
}

/* styles for the add task button */
.desktop-add-task {
  display: block; /* Show on larger screens */ 
  position: absolute;
  left: 900px;
  width: 130px;
  height: 38px;
}

/*styles for modal content  */
.modal{
  overflow: hidden;
}
.modal-content{
  margin-left: 590px;
  width: 479px;
  height: 539px;
  top: -85px;
}

/* styles for modal buttons */
.form-btn{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.save-btn{
  width: 200px;
}
.delete-btn{
  width: 200px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 0 25px 0 25px;
}

  /* side bar styles */
.side-bar {
  display: block;
  background-color: var(--secondary-clr);
  width: 300px;
  height: 678px;
  padding-bottom: 282px;
}
.side-bar button {
  width: 276px;
}

/* the header styles */
.main-header {
  height: 96px;
}
.main-header h2 {
  font-size: 24px;
  font-weight: bold;
}

/* styles for the toggle */
.theme-toggle-container{
  width: 251px;
}

  /* displays the sidebar */
.hide-sidebar-btn {
  display: none !important;
}
}
